@use "../../styles/main.scss" as *;

.container {
  display: grid;
  gap: 0;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  @media screen and (min-width: $tablet-size) {
    grid-template-columns: repeat(8, 1fr);
  }
}

.gridLevel1{
  @media screen and (max-width: $tablet-size) {
    grid-template-columns: repeat(5, 1fr);
    
  }
}
.gridLevel2{
  @media screen and (max-width: $tablet-size){
    grid-template-columns: repeat(6, 1fr);
  }
}

.fadeEnter {
  opacity: 0;
  transform: translateY(10px);
}
.fadeEnterActive {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}
.fadeExit {
  opacity: 1;
}
.fadeExitActive {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}
